<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ "/assets/style/style.css" | relative_url }}'>
</head>
<body>
    <footer>
        <div>
            <h5>NYC: New York Crashes</h5>
            <h6>Staying Safe in the Big Apple</h6>
            <p><a href="https://github.com/WiiLife">Ambrosetti</a>, <a href="https://github.com/ambiddisco">Biddiscombe</a>, <a href="https://github.com/Ysedra">Sedra</a></p>
        </div>
        <div>
            <h6>SUPSI</h6>
            <p>Bachelor in Data Science and Artificial Intelligence</p>
            <p><a href="https://dataviz-supsi.github.io/2024/">Data Visualization Course</a></p>
            <p class="no-break"><h6>Teacher:</h6> Giovanni Profeta</p>
            <p>Academic Year: 2024-2025</p>
        </div>
    </footer>
</body>
</html>