<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{{ "/assets/style/style.css" | relative_url }}'>
</head>
<body>
    <header>
        <span class="info">
            <ul>
                <li>Final group project</li>
                <li><h4>NYC: New York Crashes</h4></li>
            </ul>
        </span>
        <nav>
            <ul>
                {% for item in site.data.navigation %}
                    <a class="{% if page.url == item.link %}active{% endif %}" href="{{ item.link }}">{{ item.title }}</a>
                {% endfor %}
            </ul>
        </nav>
    </header>
    
</body>
</html>